:root {
  // FONT colors

  // Light mode
  --font-light-primary: #2b3749;
  --font-light-secondary: #607088;
  --font-dark-primary: #ffffff;
  --font-dark-secondary: #e2e5e9;

  // ACCESSORIES color
  --warning-red: #ff490f;
  --success-green: #00bf9d;
  --link-blue: #0666df;
  --accent-brown: #bd8a48;
  --disabled-gray: #d3d8de;
  --link-pressed: #2368cb;

  // NEUTRAL colors

  // Beige
  --lightest-beige: #f5f3f0;
  --light-beige: #f1eeea;
  --medium-beige: #e9e6e2;
  --dark-beige: #d7cfc6;
  --darkest-beige: #bdb5ac;

  // Gray
  --lightest-gray: #ebeef2;
  --light-gray: #e2e5e9;
  --medium-gray: #d3d8de;
  --dark-gray: #a3afc2;
  --darkest-gray: #607088;

  // Slate
  --lightest-slate: #f7f8fa;
  --light-slate: #f0f3f7;
  --medium-slate: #d1d8e3;
  --dark-slate: #7f95b5;
  --darkest-slate: #556e91;

  // Denim
  --lightest-denim: #465b78;
  --light-denim: #354861;
  --medium-denim: #2b3749;
  --dark-denim: #232c3b;
  --darkest-denim: #171c26;

  // PRODUCT colors

  --typing-blue: #1f85fc;
  --vocab-green: #25cba9;
  --dc-purple: #8449eb;
  --sel-citrus: #e0e04c;
  --reading-magenta: #d036b0;
}
