// TODO: added semi bold Lato file but we need to test if it displays correctly
// TODO: check if the line height value for small and x-small is correct, since Figma displays different values in documented and dev mode

@mixin button {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

@mixin button-default {
  @include button;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}

@mixin button-default-semi-bold {
  @include button-default;
  font-weight: 600;
}

@mixin button-default-regular {
  @include button-default;
  font-weight: 400;
}

@mixin button-small {
  @include button;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.21px;
}

@mixin button-small-semi-bold {
  @include button-small;
  font-weight: 600;
}

@mixin button-small-regular {
  @include button-small;
  font-weight: 400;
}

@mixin button-x-small {
  @include button;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.21px;
}

@mixin button-x-small-semi-bold {
  @include button-x-small;
  font-weight: 600;
}

@mixin button-x-small-regular {
  @include button-x-small;
  font-weight: 400;
}
