@use "../fonts/Lato/lato.css";
@use "../fonts/OpenSans/openSans.css";

@use "./styles/colors.scss";
@use "./styles/spacings.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
#root {
  height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;

  :disabled {
    cursor: not-allowed;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
